body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(29, 53, 66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    padding: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: darkslategrey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

#delete-book {
    background-color: aqua;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: 34px;
    border: none;
    transition: background-color 0.3s;
}

#delete-book:hover {
    background-color: greenyellow;
}